<!DOCTYPE html>
<html lang="en">

<head>
     
    <meta charset="UTF-8">
     
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Password Reset</title>
</head>

<body>
      <h1>Password Reset</h1>
      <p>Hello <%= username %>,</p>
      <p>We have received a request to reset your password. Please click on the link below to reset your password:</p>
      <a href="<%= verificationLink %>">Reset Password</a>
      <p>If you didn't request a password reset, you can ignore this email.</p>
      <p>Thank you,</p>
      <p>Your App Team</p>
</body>

</html>